div .header {
  background-color: #7159c1;
  padding: 0px 0px 0px 12.5%;
}

.header img {
  width: 350px;
}

div .posts {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px 0px;
}

div .post {
  display: inline-block;
  width: 50%;
  position: relative;
  background-color: #fff;
  margin: 0px auto 20px auto;
  padding-bottom: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

div .line {
  height: 2px;
  border-radius: 2px;
  background: #eeeeee;
  margin: 25px 20px 15px 20px;
}

.user img {
  margin: 20px 20px 10px 20px;
  height: 32px;
  size: 32px;
  border-radius: 16px;
}
.user {
  display: flex;
  align-items: center;
}

.user .details {
  font-size: 11px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  color: #9a9a9a;
}
.user .details span:first-child {
  font-size: 14px;
  color: #4a4a4a;
  font-weight: bold;
  margin-bottom: 3px;
}
.post p {
  margin: 10px 20px 20px 20px;
}

div .comment {
  width: 100%;
  margin: 5px 20px 5px 5px;
  background-color: #eee;
  border-radius: 20px;
  padding: 15px 10px 15px 15px;
}

.comment a {
  font-size: 13;
  color: #3e3e3e;
  margin: 0px 2px 0px 2px;
}
.comment a:first-child {
  font-weight: bold;
}
